// Components
@import "../components/App/App";
@import "../components/Footer/Footer";
@import "../components/Header/Header";
@import "../components/PokeList/PokeList";
@import "../components/PokemonCard/PokemonCard";
@import "../components/SinglePokemon/SinglePokemon";
@import "../components/Filter/Filter";

// Third-party
@import "./vendor/normalize";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


#root {
  min-height: 100vh;
  position: relative;
  
  .home, .single-pokemon-container {
    padding-bottom: 2.5rem;    /* Footer height */
  }
}